body{
    position:relative;
    max-width:100%;
    min-width: 975px;
    min-height: 722px;
    height:100vh;
    margin:0px;
    padding:0px;
    background: #111;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



/*HEADER*/



.headline1box{
    background:url(../img/headline1d.png) 0px 0px no-repeat;
    background-size:cover;
    position: absolute;
    top:-70px;
    left:83px;
    z-index:1; 
    
}

.headline1box #h1_1{
    position:absolute;
    width:300px;
    height:74px;
    background-position: 0px 0px;
    background-size: 300px;
    top: 70px;
    left: 0px;
    margin: 30px;
}


.headline1box #h1_2{
    position:absolute;
    width:160px;
    height:33px;
    background-position: 0px -78px;
    background-size: 300px;
    top: 150px;
    left: 0px;
    margin:30px;
    z-index:1; 
}


#fuerzaFord{
    position: absolute;
    display:block;
    opacity: 1;
    top:28.5px;
    left:28.5px;
    height:75px;
    margin: 0px;
    z-index: 12;  
}


/*LEARN MORE ABOUT THE F-150 & SOCIAL*/
#learnMoreContainer{
    position: absolute;
    width:100%;
    background:transparent;
    z-index: 1;
}

#learnMoreBtn{
    position: relative;
    width: 30px;
    height:30px;
    position:relative;
    background: url(../img/visitBlue.svg) no-repeat;
    background-size: cover;
    background-position: -142px 0px;
    height:30px;
    float: right;
    margin: 28.5px 0 0 0 ;
    cursor: pointer;
}

#learnMoreBtn:hover{
    width:200px;
    height:30px;
    background: url(../img/visitWhite.svg) no-repeat;
    background-size: contain;
    background-position: 29.5px 0px;
}

#facebookFord{
    position: relative;
    width: 30px;
    position:relative;
    background: url(../img/facebook_btn_blk.svg) no-repeat;
    background-size: contain;
    height:30px;
    float: right;
    margin: 10px 0 0 0 ;
    cursor: pointer;
    clear:right;
    /*border: 1px solid #999;*/
}

#facebookFord:hover{
    background: url(../img/facebook_btn_over.svg) no-repeat;
    background-size: contain;

}

#twitterFord{
    position: relative;
    width: 30px;
    position:relative;
    background: url(../img/twitter_btn_blk.svg) no-repeat;
    background-size: contain;
    height:30px;
    float: right;
    margin: 10px 0 0 0 ;
    cursor: pointer;
    clear:right;
}

#twitterFord:hover{
    background: url(../img/twitter_btn_over.svg) no-repeat;
    background-size: contain;

}



/*#learnMore a{
    position: static;
    color:#fff;
    background: #3c9cd0;
    padding:10px 20px;
    margin:28.5px;
    font-family: franklinGothic, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    left:900px;
    float:right;
}*/

/*INFO LIGHTBOX*/

#lightboxIntro{
    display: inline-block;
    position:absolute;
    width:100%;
    height:100%;
    /*background: rgba(0,0,0,.8);*/
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+30,0.66+100 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0.66) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,0.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a8000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        
    z-index:11;
    /*display:none;*/

}

#lightboxIntro .lightboxContainer{
    position: relative;
    width:700px;
    background: rgba(0,0,0,0);
    z-index:inherit;
    border-radius: 0px;
    margin: 4.5em auto;
    border: 0px solid #555;
    padding:0;
    text-align: center;  
}


.lightboxClose{
      cursor:pointer;
}

.lightboxClose a{
    color:rgba(234,98,23,.66);
    float: right;
    margin:20px;
    text-decoration: none;
    font-family: franklinGothicLight, Helvetica, Arial, sans-serif;
    font-size: 24px;
    height:24px;
    transform: scaleX(1.7);
}

.lightboxClose a:hover{
    color:rgba(234,98,23,1);
    
}

#lightboxIntro .lightboxContainer .lightboxImage{
    background: url(../img/f150_lightbox_sml.png) 0px 0px no-repeat;
    background-size: contain;
    width:510px;
    height:200px;
    top:148px;
    left:18px;
    position: absolute;
    
}


#lightboxIntro .lightboxContainer .lightboxTitle{
    width:425px;
    height:70px;
    clear:both;
    background: url(../img/f150_transfer_lightbox.png);
    background-size: contain;
    background-repeat:no-repeat;
    margin:0 auto;

}


#lightboxIntro .lightboxContainer h2{
    width:425px;
    height: 24px;
    color:#ea6217;
    margin:0 auto;
    margin-bottom:5px;
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 1.5em;
    clear:both;
    padding-top:5px;
}

#lightboxIntro .lightboxContainer h3{
    width:425px;
    color:#ea6217;
    margin:5px auto;
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 1.5em;
    clear:both;
    padding-top:5px;
    line-height:.9;
}

#lightboxIntro .lightboxContainer h3 span{
    font-size:.8em;
}

#lightboxIntro .lightboxContainer p{
    color:#aaa;
    margin: 0 auto;
    margin-top:110px;
    font-family: franklinGothicLight, Helvetica, Arial, sans-serif;
    width:500px;
    text-align: center;
    padding: .8em;
    font-size: 1em;
    line-height: 1.2;
}

#lightboxIntro .lightboxContainer p span{
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
}


#lightboxIntro .lightboxContainer #comenzarBtn{
        width:25%;
        margin: 0 auto;
        text-align: center;
}

#lightboxIntro .lightboxContainer #comenzarBtn a{
    width: 100%;
    background-color: rgba(0,0,0,.5);
    border: 4px solid #ea6217;
    color: #ea6217;
    /*padding: 12px 20px 12px 20px;*/
    margin-top: 8px;
    border-radius: 0px;
    font-family: "Arial Narrow", sans-serif;
    font-size: 26px;
    font-weight:bold;
    letter-spacing: -.012em;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding:10px 0;

}



#lightboxIntro .lightboxContainer #comenzarBtn a:hover{
    background-color: #ea6217;
    color:#111;
}


/*FILES ON WAY LIGHTBOX*/


#lightboxFilesOnWay{
    display: inline-block;
    position:absolute;
    width:100%;
    height:100%;
    /*background: rgba(0,0,0,.8);*/
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+30,0.66+100 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0.66) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,0.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a8000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        
    z-index:11;
    line-height;
    display:none;

}

#lightboxFilesOnWay .lightboxContainer{
    position: relative;
    width:700px;
    background: rgba(0,0,0,0);
    z-index:inherit;
    border-radius: 0px;
    margin: 2.5em auto;
    border: 0px solid #555;
    padding:0;
    text-align: center;   
}


.lightboxClose{
      cursor:pointer;
}

.lightboxClose a{
    color:rgba(234,98,23,.66);
    float: right;
    margin:20px;
    text-decoration: none;
    font-family: franklinGothicLight, Helvetica, Arial, sans-serif;
    font-size: 24px;
    height:24px;
    transform: scaleX(1.7);
}

.lightboxClose a:hover{
    color:rgba(234,98,23,1);
    
}

#lightboxFilesOnWay .lightboxContainer .lightboxImage{
    background: url(../img/en_camino_truck.png) 0px 0px no-repeat;
    background-size: contain;
    width:550px;
    height:200px;
    top:150px;
    left:18px;
    position: absolute;
    
}

#lightboxFilesOnWay .lightboxContainer .lightboxTitle{
    width:425px;
    height:70px;
    clear:both;
    background: url(../img/en_camino.png);
    background-size: contain;
    background-repeat:no-repeat;
    margin:0 auto;

}


#lightboxFilesOnWay .lightboxContainer h2{
    width:425px;
    height: 24px;
    color:#ea6217;
    margin:0 auto;
    margin-bottom:5px;
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 1.5em;
    clear:both;
    padding-top:5px;
}

#lightboxFilesOnWay .lightboxContainer h3{
    width:425px;
    color:#ea6217;
    margin:5px auto;
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 1.5em;
    clear:both;
    padding-top:5px;
    line-height:.9;
}

#lightboxFilesOnWay .lightboxContainer h3 span{
    font-size:.8em;
}

#lightboxFilesOnWay .lightboxContainer p{
    color:#aaa;
    margin: 0 auto;
    margin-top:110px;
    font-family: franklinGothicLight, Helvetica, Arial, sans-serif;
    width:500px;
    text-align: center;
    padding: .8em;
    font-size: 1em;
    line-height: 1.2;
}

#lightboxFilesOnWay .lightboxContainer p span{
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
}



#lightboxFilesOnWay .lightboxContainer #cargaOtroBtn a{
    width: 43%;
    background-color: rgba(0,0,0,.5);
    border: 4px solid #ea6217;
    color: #ea6217;
    margin-top: 8px;
    border-radius: 0px;
    font-family: "Arial Narrow", sans-serif;
    font-size: 26px;
    font-weight:bold;
    letter-spacing: -.012em;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding:12px 0;
}

#lightboxFilesOnWay .lightboxContainer #cargaOtroBtn a:hover{
    background-color: #ea6217;
    color:#111;
}

/*VISIT F-150 PAGE*/

#lightboxFilesOnWay .lightboxContainer .visitF150Btn{
    color: #ffffff;
    width: 43%;
    height:50px;
    margin: 14px auto;
    background: url(../img/visitBlue.svg) 0px 0px no-repeat;
    background-size: cover;
    text-align: left;
    cursor: pointer;
}

#lightboxFilesOnWay .lightboxContainer .visitF150Btn:hover{
    color: #3c9cd0;
    width: 43%;
    height:50px;
    margin: 14px auto;
    background: url(../img/visitWhite.svg) 0px 0px no-repeat;
    background-size: cover;
    text-align: left;
    cursor: pointer;
}


/*SMALL FILES LIGHTBOX*/


#lightboxSmallFiles{
    display: inline-block;
    position:absolute;
    width:100%;
    height:100%;
    /*background: rgba(0,0,0,.8);*/
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+30,0.66+100 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0.66) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,0.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a8000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        
    z-index:11;
    line-height;
    display:none;

}

#lightboxSmallFiles .lightboxContainer{
    position: relative;
    width:700px;
    background: rgba(0,0,0,0);
    z-index:inherit;
    border-radius: 0px;
    margin: 4.5em auto;
    border: 0px solid #555;
    padding:0;
    text-align: center;   
}


.lightboxClose{
      cursor:pointer;
}

.lightboxClose a{
    color:rgba(234,98,23,.66);
    float: right;
    margin:20px;
    text-decoration: none;
    font-family: franklinGothicLight, Helvetica, Arial, sans-serif;
    font-size: 24px;
    height:24px;
    transform: scaleX(1.7);
}

.lightboxClose a:hover{
    color:rgba(234,98,23,1);
    
}

#lightboxSmallFiles .lightboxContainer .lightboxImage{
    background: url(../img/en_camino_truck.png) 0px 0px no-repeat;
    background-size: contain;
    width:550px;
    height:200px;
    top:150px;
    left:18px;
    position: absolute;
    
}

#lightboxSmallFiles .lightboxContainer .lightboxTitle{
    width:425px;
    height:70px;
    clear:both;
    background: url(../img/es_una_broma.png);
    background-size: contain;
    background-repeat:no-repeat;
    margin:0 auto;

}


#lightboxSmallFiles .lightboxContainer h2{
    width:425px;
    height: 24px;
    color:#ea6217;
    margin:0 auto;
    margin-bottom:5px;
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 1.5em;
    clear:both;
    padding-top:5px;
}

#lightboxSmallFiles .lightboxContainer h3{
    width:425px;
    color:#ea6217;
    margin:5px auto;
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 1.5em;
    clear:both;
    padding-top:5px;
    line-height:.9;
}

#lightboxSmallFiles .lightboxContainer h3 span{
    font-size:.8em;
}

#lightboxSmallFiles .lightboxContainer p{
    color:#aaa;
    margin: 0 auto;
    margin-top:160px;
    font-family: franklinGothicLight, Helvetica, Arial, sans-serif;
    width:500px;
    text-align: center;
    padding: .8em;
    font-size: 1em;
    line-height: 1.2;
}

#lightboxSmallFiles .lightboxContainer p span{
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
}


#lightboxSmallFiles .lightboxContainer #cargaOtroBtn{
        width:43%;
        margin: 0 auto;
        text-align: center;
}

#lightboxSmallFiles .lightboxContainer #cargaOtroBtn a{
    width: 100%;
    height:57.6666px;
    background-color: rgba(0,0,0,.5);
    border: 4px solid #ea6217;
    color: #ea6217;
    /*padding: 12px 20px 12px 20px;*/
    margin-top: 8px;
    border-radius: 0px;
    font-family: franklinGothic, "Arial Black", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    line-height: 54.5px;

}

#lightboxSmallFiles .lightboxContainer #cargaOtroBtn a:hover{
    background-color: #ea6217;
    color:#111;
}

.fileListModule{
    position: absolute;
    opacity: 1;
    padding: 0px;
    left:28.5px;
    top: 180px;
    width:250px;
    margin:0;
    z-index: 2;
    display:none;
}

.fileName {
    max-width: 195px;
    word-wrap: break-word;
}


h4{
    font-family: franklinGothicLight, Helvetica, Arial, sans-serif;
    font-size:14px;
    text-transform: uppercase;
    text-rendering:optimizeLegibility;
    color:#ddd;
    padding:0px;
    margin: 8px 0 3px 0;
}


.fileList{
    margin: 6px 0 0 0;
    padding:0;
    height:82px;
   background: rgba(0, 0, 0, .5);
    border: 0px solid #555;
    list-style:none;
    font-family: franklinGothicLight, "Arial Narrow", Helvetica, sans-serif;
    overflow: auto;
    font-size: 14px;
    letter-spacing: 1.25px;
    text-rendering: geometricPrecision; 
}

.listItem{
    color:#ea6217;
    padding: 9px 0 3px 12px;
    border-bottom: 0px solid #444;
    /*transition: background-color .5s ease;*/
    line-height: 1;
    cursor:pointer;
    border-bottom: 1px solid rgba(234,98,23,.33);
}

.listItem:hover{
    background: rgba(255,255,255,.05);
}

.listItem:hover a{
    opacity:1;
}

.closeX a{
    font-family: Helvetica, Arial , sans-serif;
    text-decoration: none;
    color:rgba(234,98,23,.66);
    font-size: 18px;
    float:right;
    margin: -25px 15px 0 0;
    opacity:0;
    padding:0;
}
            
a:hover{
    color:rgba(234,98,23,1);
    
}

#fileSize{
    color: #ccc;
    font-size: 10px;
    margin:0px;
    padding:0px;
}

.form{
    padding:0px;
    /*pointer-events: none;*/
    display: block;
    position: absolute;
    opacity: 1;
    top:310px;
    left:28.5px;
    color:#ccc;
    background: rgba(0,0,0,0);
    width:250px;
    z-index: 10;
    display:none;
}

.form input[type=text], select {
    font-family: franklinGothicLight, Helvetica, Arial, sans-serif;
    color:#999;
    width: 100%;
    padding:  9px 0  6px 12px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #555;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 16px;
    background: rgba(0,0,0,.5);
}

.form input[type=text]:hover {
    background: rgba(26,26,26,.5);
}

.form textarea[id=message], select {
    width:100%;
    padding-top:10px;
    padding:12px 12px;
    margin: 4px 0;
    color:#999;
    font-family: franklinGothicLight, Helvetica, Arial, sans-serif;
    text-align: left;
    display: inline-block;
    border: 1px solid #555;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 16px;
    background: rgba(0,0,0,.5);
    resize:none;
    overflow: auto;
}

.form textarea[id=message]:hover {
    background: rgba(26,26,26,.5);
}


/*TRANSPORTAR BTN*/

.form input[type=button] {
    width: 100%;
    background-color: rgba(0,0,0,.5);
    border: 4px solid #ea6217;
    color: #ea6217;
    /*padding: 12px 20px 12px 20px;*/
    margin-top: 8px;
    border-radius: 0px;
    font-family: "Arial Narrow", sans-serif;
    font-size: 26px;
    font-weight:bold;
    letter-spacing: -.012em;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding:12px 0;
}

.form input[type=button]:hover {
    background-color: #ea6217;
    color:#111;
}

/*FORM STYLING*/

.progress {
    height: 62px;
}

.myprogress {
    line-height: 60px;
    font-size: 30px;
}

form .error {
  color: #8B3A3A;
  display:inline-block;
  position: relative;
}

#files-error {
  color: #8B3A3A;
  display: none;
}

#fuerzaFord{
    position: absolute;
    display:block;
    opacity: 1;
    top:28.5px;
    left:28.5px;
    height:75px;
    margin: 0px;
    z-index: 12;
    
}
/*PLACEHOLDER SUBMIT BUTTON FOR DEMO PURPOSES*/
#transportarBtn{
        width:100%;
        margin: 0 auto;
        text-align: center;
}




#transportarBtn a{
    width: 100%;
    background-color: rgba(0,0,0,.5);
    border: 4px solid #ea6217;
    color: #ea6217;
    /*padding: 12px 20px 12px 20px;*/
    margin-top: 8px;
    border-radius: 0px;
    font-family: "Arial Narrow", sans-serif;
    font-size: 26px;
    font-weight:bold;
    letter-spacing: -.012em;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding:12px 0;
}

#transportarBtn a:hover{
    background-color: #ea6217;
    color:#111;
}


/******SCENE 1*****/
/******SCENE 1*****/
/******SCENE 1*****/
/******SCENE 1*****/
/******SCENE 1*****/
.scene1{
    margin:0 auto;
    height:85%;
    background: url(../img/f150_1_scene_opt.jpg);
    background-repeat: no-repeat;
    background-size: 2560px 1440px;
    background-position: center  -180px;
    overflow: visible;
    opacity: 1;






    border-bottom: .25em solid #ea6217;
    /*display:none;*/
}

.scene1:before {
    opacity: 1;
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 85%;

/*GRADIENT OVERLAY*/


    background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 13%, rgba(0,0,0,0) 43%, rgba(0,0,0,0) 100%); /* FF3.6-15 */    
    background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 13%, rgba(0,0,0,0) 43%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 13%, rgba(0,0,0,0) 43%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,.7) 13%,rgba(0,0,0,0) 43%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,.7) 13%,rgba(0,0,0,0) 43%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  }

#info1{
    position: absolute;
    color:#fff;
    /*background: rgba(0,0,0,.5);*/
    font-family: franklinGothic, "Arial Narrow", sans-serif;
    text-transform: uppercase;
    text-align: right;
    top:0px;

    left:55px;
    opacity: 1;
    letter-spacing: -.66px;
}

#info1 h1{
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    margin: -1px;
    text-align: right;
}

#info1 h3{ 
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin: -1px;
    text-align: right;
}

#info1 #unit{
     font-size: .7em;
}


/*****TRUCK 1*****/
/*****TRUCK 1*****/
/*****TRUCK 1*****/
/*****TRUCK 1*****/
/*****TRUCK 1*****/

#truck1{
    position: relative;
    top:250px;
    left:150px;
    width:750px;
    margin: 0 auto;
    /*background: rgba(120, 12, 12, .5);*/
    overflow: visible;
    opacity: 1;
}

#truck1 img{
    width:inherit;
}

#truck1 .cargo1overlay{
    position: absolute;
    width:390px;
    height:210px;
    top:98px;
    left:88px;
    cursor:pointer;
}

#truck1 .cargo1dashed{
    position: absolute;
    opacity: 1;
    width:390px;
    pointer-events: none;
}

#truck1 .cargo1lines{
    position: absolute;
    width:390px;
    opacity: 0;
   
    
}


#truck1 .cargo1lines:hover{
    visibility:visible;
    opacity: .33;
   
}


#truck1 .load_message {
    text-align: center;
    opacity: 1;
    padding:0px;
    font-family: franklinGothicLight,"Arial Narrow", sans-serif;
    font-size: 14px;
    letter-spacing: .66px;
    /*text-transform: uppercase;*/ 
    /*color:#ea6217;*/
    color: #f2f2f2;
    position: absolute;
    top:36px;
    left:85px;
    background:rgba(0,0,0,0);
    line-height: 1;
    pointer-events: none;
}

#truck1 .load_message img{
    text-align: center;
    top:-10px;
    padding:0px;
    position: relative;
}




/******SCENE 2*****/
/******SCENE 2*****/
/******SCENE 2*****/
/******SCENE 2*****/
/******SCENE 2*****/
/******SCENE 2*****/


.scene2{
    margin:0 auto;
    height:85%;
    background: url(../img/f150_2_scene_opt.jpg);
    background-repeat: no-repeat;
    background-size: 2560px 1440px;
    background-position: center  -500px;
    overflow: visible;
    opacity: 1;
    border-bottom: .25em solid #ea6217;
    /*display:none;*/
}


.scene2:before {
    opacity: 1;
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 85%;


/*GRADIENT OVERLAY*/

    background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 13%, rgba(0,0,0,0) 43%, rgba(0,0,0,0) 100%); /* FF3.6-15 */    
    background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 13%, rgba(0,0,0,0) 43%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 13%, rgba(0,0,0,0) 43%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,.7) 13%,rgba(0,0,0,0) 43%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,.7) 13%,rgba(0,0,0,0) 43%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  }





/*****TRUCK 2*****/
/*****TRUCK 2*****/
/*****TRUCK 2*****/
/*****TRUCK 2*****/
/*****TRUCK 2*****/

#truck2{
    position: relative;
    top:240px;
    left:150px;
    width:750px;
    margin: 0 auto;
    /*background: rgba(120, 12, 12, .5);*/
    overflow: visible;
    opacity: 1;
}

#truck2 img{
    width:inherit;  
}


#truck2 .cargo2overlay{
    position: absolute;
    width:400px;
    height:58px;
    top:131px;
    left:317px;
    cursor:pointer; 
    
}

#truck2 .cargo2dashed{
    position: absolute;
    opacity: 1;
    width:410px;
    pointer-events: none;
}

#truck2 .cargo2lines{
    position: absolute;
    width:410px;
    opacity: 0;
   
    
}


#truck2 .cargo2lines:hover{
    visibility:visible;
    opacity: .20;
   
}

#truck2 .load_message {
    text-align: center;
    opacity: 1;
    padding:0px;
    font-family: franklinGothicLight,"Arial Narrow", sans-serif;
    font-size: 14px;
    letter-spacing: .66px;
    /*text-transform: uppercase;*/ 
    /*color:#ea6217;*/
    color: #f2f2f2;
    position: absolute;
    top:-74px;
    left:40px;
    background:rgba(0,0,0,0);
    line-height: 1;
    pointer-events: none;
}

#truck2 .load_message img{
    text-align: center;
    top:34px;
    left:74px;
    padding:0px;
    position: relative;
}



#info2{
    position: absolute;
    color:#000;
    /*background: rgba(0,0,0,.5);*/
    font-family: franklinGothic, "Arial Narrow", sans-serif;
    text-transform: uppercase;
    top:-80px;
    left:-60px;
    opacity: 1;
    /*background: rgba(0,0,0,.5);*/
    padding: 20px;
    border-radius: 5px;
    letter-spacing: -.66px;
}


#info2 h1{
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    margin: -1px;
    text-align: right;
}

#info2 h3{ 
    font-family: franklinGothic, Helvetica, Arial. sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin: -1px;
    text-align: right;
}

#info2 #unit{
     font-size: .7em;
}


/******SCENE 3*****/
/******SCENE 3*****/
/******SCENE 3*****/
/******SCENE 3*****/
/******SCENE 3*****/
/******SCENE 3*****/


.scene3{
    margin:0 auto;
    height:85%;
    background: url(../img/f150_3_scene_opt.jpg);
    background-repeat: no-repeat;
    background-size: 2560px 1440px;
    background-position: center  -500px;
    overflow: visible;
    opacity: 1;
    border-bottom: .25em solid #ea6217;
    /*display:none;*/
}


.scene3:before {
    opacity: 1;
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 85%;


/*GRADIENT OVERLAY*/

    background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 13%, rgba(0,0,0,0) 43%, rgba(0,0,0,0) 100%); /* FF3.6-15 */    
    background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 13%, rgba(0,0,0,0) 43%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 13%, rgba(0,0,0,0) 43%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,.7) 13%,rgba(0,0,0,0) 43%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,.7) 13%,rgba(0,0,0,0) 43%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  }





/*****TRUCK 3*****/
/*****TRUCK 3*****/
/*****TRUCK 3*****/
/*****TRUCK 3*****/
/*****TRUCK 3*****/

#truck3{
    position: relative;
    top:210px;
    left:200px;
    width:750px;
    margin: 0 auto;
    /*background: rgba(120, 12, 12, .5);*/
    overflow: visible;
    opacity: 1;
}

#truck3 img{
    width:inherit;  
}


#truck3 .cargo3overlay{
    position: absolute;
    width:408px;
    height:58px;
    top:138px;
    left:20px;
    cursor:pointer; 
    
}

#truck3 .cargo3dashed{
    position: absolute;
    opacity: 1;
    width:407px;
    pointer-events: none;
}

#truck3 .cargo3lines{
    position: absolute;
    width:407px;
    opacity: 0;
   
    
}


#truck3 .cargo3lines:hover{
    visibility:visible;
    opacity: .33;
   
}

#truck3 .load_message {
    text-align: center;
    opacity: 1;
    padding:20px;
    font-family: franklinGothicLight,"Arial Narrow", sans-serif;
    font-size: 14px;
    letter-spacing: .66px;
    /*text-transform: uppercase;*/ 
    /*color:#ea6217;*/
    /*color: #f2f2f2;*/
    color: #ccc;
    position: absolute;
    top:-84px;
    left:194px;
    background:rgba(0,0,0,0);
    line-height: 1;
    pointer-events: none;
    height:20px;
    width:200px;
}

#truck3 .load_message img{
    text-align: center;
    top:35px;
    left:-115px;
    padding:0px;
    position: relative;
}



#info3{
    position: absolute;
    color:#fff;
    /*background: rgba(0,0,0,.5);*/
    font-family: franklinGothic, "Arial Narrow", sans-serif;
    text-transform: uppercase;
    top:15px;
    left:-40px;
    opacity: 1;
    /*background: rgba(0,0,0,.5);*/
    padding: 20px;
    border-radius: 5px;
    letter-spacing: -.66px;
}


#info3 h1{
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    margin: -1px;
    text-align: right;
}

#info3 h3{ 
    font-family: franklinGothic, Helvetica, Arial. sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin: -1px;
    text-align: right;
}

#info3 #unit{
     font-size: .7em;
}

/******SCENE 4*****/
/******SCENE 4*****/
/******SCENE 4*****/
/******SCENE 4*****/
/******SCENE 4*****/
/******SCENE 4*****/


.scene4{
    margin:0 auto;
    height:85%;
    background: url(../img/f150_4_scene_opt.jpg);
    background-repeat: no-repeat;
    background-size: 2560px 1440px;
    background-position: center  -620px;
    overflow: visible;
    opacity: 1;
    border-bottom: .25em solid #ea6217;
    /*display:none;*/
}


.scene4:before {
    opacity: 1;
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 85%;


/*GRADIENT OVERLAY*/

    background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 13%, rgba(0,0,0,0) 43%, rgba(0,0,0,0) 100%); /* FF3.6-15 */    
    background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 13%, rgba(0,0,0,0) 43%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 13%, rgba(0,0,0,0) 43%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,.7) 13%,rgba(0,0,0,0) 43%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,.7) 13%,rgba(0,0,0,0) 43%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  }





/*****TRUCK 4*****/
/*****TRUCK 4*****/
/*****TRUCK 4*****/
/*****TRUCK 4*****/
/*****TRUCK 4*****/

#truck4{
    position: relative;
    top:220px;
    left:200px;
    width:850px;
    margin: 0 auto;
    /*background: rgba(120, 12, 12, .5);*/
    overflow: visible;
    opacity: 1;
}

#truck4 img{
    width:inherit;  
}


#truck4 .cargo4overlay{
    position: absolute;
    width:400px;
    height:58px;
    top:157px;
    left:357px;
    cursor:pointer; 
    
}

#truck4 .cargo4dashed{
    position: absolute;
    opacity: 1;
    width:375px;
    pointer-events: none;
}

#truck4 .cargo4lines{
    position: absolute;
    width:375px;
    opacity: 0;
   
    
}


#truck4 .cargo4lines:hover{
    visibility:visible;
    opacity: .33;
   
}

#truck4 .load_message {
    text-align: center;
    opacity: 1;
    padding:20px;
    font-family: franklinGothicLight,"Arial Narrow", sans-serif;
    font-size: 14px;
    letter-spacing: .66px;
    /*text-transform: uppercase;*/ 
    /*color:#ea6217;*/
    /*color: #f2f2f2;*/
    color: #000;
    position: absolute;
    top:-70px;
    left:180px;
    background:rgba(0,0,0,0);
    line-height: 1;
    pointer-events: none;
    height:20px;
}

#truck4 .load_message img{
    text-align: center;
    top:22px;
    left:-90px;
    padding:0px;
    position: relative;
}



#info4{
    position: absolute;
    color:#000;
    /*background: rgba(0,0,0,.5);*/
    font-family: franklinGothic, "Arial Narrow", sans-serif;
    text-transform: uppercase;
    top:0px;
    left:510px;
    opacity: 1;
    /*background: rgba(0,0,0,.5);*/
    padding: 20px;
    border-radius: 5px;
    letter-spacing: -.66px;
}


#info4 h1{
    font-family: franklinGothic, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    margin: -1px;
    text-align: left;
}

#info4 h3{ 
    font-family: franklinGothic, Helvetica, Arial. sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin: -1px;
    text-align: left;
}

#info4 #unit{
     font-size: .7em;
}

/*DRAG DROP STRIPES*/
#truck1 .cargo1linesDrag {
    visibility:visible;
    opacity: .33;
}

#truck2 .cargo2linesDrag {
    visibility:visible;
    opacity: .33;
}

#truck3 .cargo3linesDrag {
    visibility:visible;
    opacity: .33;
}

#truck4 .cargo4linesDrag {
    visibility:visible;
    opacity: .33;
}


/*WEBFONTS*/



@font-face {
    font-family: franklinGothic;
    src:    url(../fonts/itc_franklin_gothic_std_dm_cd.otf),
            url(../fonts/itc_franklin_gothic_std_dm_cd.woff),
            url(../fonts/itc_franklin_gothic_std_dm_cd.eot);
}


@font-face {
    font-family: franklinGothicLight;
    src:    url(../fonts/itc_franklin_gothic_std_dm_cd_light.otf),
            url(../fonts/itc_franklin_gothic_std_dm_cd_light.woff),
            url(../fonts/itc_franklin_gothic_std_dm_cd_light.eot);
    
}





